.gif {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.gif-loading {
	height: 200px;
}

.guess {
	text-align: center;
}

.answer {
	text-align: center;
}

.btn {
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	transition-duration: 0.2s;
	cursor: pointer;
	background-color: white;
	color: black;
	border: 2px solid #4caf50;
}

.btn:hover {
	background-color: #4caf50; /* Green */
	color: white;
}
